<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><b>Bidding</b> - You got $<span id="swag">{{(myuser.capital / 100).toLocaleString()}}</span> in thy bank</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive" style="height: 400px">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th>Employees</th>
                                <th>Total Capital</th>
                                <th>Bid</th>
                            </tr>
                        </thead>
                        <tbody ng-model="bidding_stuff">
                            <tr ng-repeat="company in companies">
                                <td><input type="checkbox"></input></td>
                                <td><a href="/#/company?name={{company.name}}">{{company.name}}</a></td>
                                <td>{{ company.employee.split('to').join(' to ') }}</td>
                                <td>${{ (company.total_funding).toLocaleString() }}</td>
                                <td><input ng-model="companies[$index].bid_price" class="mc-bid-amount" type="number" min="0"></input></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <script src="js/swag.js"></script>
    <!-- /.col-lg-8 -->
</div>
<div class="row">
<div class="col-lg-8" style="margin: 15px">
<btn class="btn btn-primary" ng-click="confirm()">Confirm your bid!</btn>
</div>
</div>